body {
    font-family: Sans-serif;
}
/*the whole appearance*/
#calculator {
    height: 680px;
    width: 550px;
    margin: auto;
    border: 0px solid gray;
    border-radius: 1%;
    box-shadow: 10px 10px 20px #777777;
    background-color: #EFEFEF;
}
/*title*/
p {
    font-size: 30px;
    font-weight: bold;
    color: #186D19;
    text-align: center;
    padding-top: 20px;
}

#main-body {
    height: 550px;
    width: 480px;
    margin: auto;
    border: 5px solid black;
}
/*screen, show user's input and the result*/
#screen {
    height: 135px;
    width: 435px;
    margin: 10px auto;
    padding-right: 10px;
    text-align: right;
    background-color: #b5b5b5;
    overflow: hidden;
}

#old {
    height: 65px;
    padding-top: 10px;
    font-size: 25px;
}

#input {
    height: 35px;
    font-size: 35px;
}
/*buttons*/
button {
    height: 66px;
    width: 100px;
    margin: 5px 8px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    background-color: #f7f7f7;
    border-radius: 20%;
}

button:hover {
    background-color: #ededed;
}
/*special buttons*/
.operator {
    color: #FF7F50;
}

#equal {
    background-color: #eae3e3;
}

#equal:hover {
    background-color: #fc5555;
}