<!DOCTYPE html>
<html>
<head>
  <title>signin-ok</title>
  <meta charset="utf-8" />
  <link rel="icon" href="http://www.msqq.com/d/file/icon/2014-04-01/172eed482fb88fcbb9918ad438f023de.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
  <div class="container">
    <div class="form-signin" role="form" action="" method="post">
      <h2 class="form-signin-heading">详情</h2>
      用户名:<input type="text" class="form-control username" placeholder="username" required="" autofocus="" name="username" readonly="readonly" value="{{username}}">
      学号:<input type="text" class="form-control studentID" placeholder="studentID" name="studentID" readonly="readonly" value="{{studentID}}">
      电话:<input type="text" class="form-control phone" placeholder="phone" name="phone" readonly="readonly" value="{{phone}}" + {{phone}}>
      邮箱:<input type="text" class="form-control email" placeholder="email" name="email" readonly="readonly" value="{{email}}">
    </div>
  </div>
</body>
</html>
