<div class="container">
  <div class="form-signin" role="form" action="" method="">
    <h2 class="form-signin-heading center-block">详情</h2>
    <div class="form-horizontal">
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">用户名</label>
        <div class="col-sm-9"><input type="text" class="form-control" placeholder="username" required="" autofocus="" name="username" readonly="readonly" ng-model="user.username"></div>
      </div>
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">学号</label>
        <div class="col-sm-9"><input type="text" class="form-control" placeholder="studentID" name="studentID" readonly="readonly" ng-model="user.studentID"></div>
      </div>
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">电话</label>
        <div class="col-sm-9"><input type="text" class="form-control" placeholder="phone" name="phone" readonly="readonly" ng-model="user.phone"></div>
      </div>
      <div class="form-group form-inline">
        <label class="col-sm-3 control-label">邮箱</label>
        <div class="col-sm-9"><input type="text" class="form-control" placeholder="email" name="email" readonly="readonly" ng-model="user.email"></div>
      </div>
    </div>
  </div>
</div>
