.demo--label
{
    display: inline-block;

    margin: 20px 20px 0 0;
}
.demo--radio
{
    display: none;
}
.demo--radioInput
{
    line-height: 1;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin-top: -1px;
    margin-right: 10px;

    vertical-align: middle;

    border: 1px solid rgba(0,0,0,.15);
    border-radius: 100%;
    background-color: #fff;
}
.demo--radio:checked + .demo--radioInput:after
{
    display: inline-block;

    width: 12px;
    height: 12px;
    margin: 2px;

    content: '';

    border-radius: 100%;
    background-color: #57ad68;
}
.demo--checkbox.demo--radioInput,
.demo--radio:checked + .demo--checkbox.demo--radioInput:after
{
    border-radius: 0;
}
