/*I write and test this style in chorme, please open it in chorme*/
body {
	font-family: Sans-serif;
	font-weight: bold;

	color: #3BD8A1;
}

#bottom-positioner {
	position: absolute;
	height: 40px;
	width: 40px;
	left: 50%;
	bottom: 12%;
}

#button {
	/*position: relative;*/
}

/*-------------part1--------------*/
/*the information bar in the top*/
#info-bar {
	position: absolute;
	height: 40px;
	width: 40px;
}
/* the box of images and numbers */
.info {
	position: relative;
	height: 10px;
	width: 10px;
	bottom: -35%;
	left: 40%;
	overflow: hidden;
	background-color: #777777; /*the gray color*/
	border-radius: 50%;
	transition: all 1s 0.3s;
	-moz-transition: all 1s 0.3s;
	-webkit-transition: all 1s 0.3s;
	-o-transition: all 1s 0.3s;

	cursor: pointer;
}
#button:hover .info {
	height: 150px;
	width: 150px;
	transform: translate(-70px, -182px);
	transition-delay: 0s;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
}
/* the whole unorder list */
.info ul {
	position: relative;
	transition: all 1s 0.3s;
	-moz-transition: all 1s 0.3s;
	-webkit-transition: all 1s 0.3s;
	-o-transition: all 1s 0.3s;
}
#button:hover .info > ul {
	transform: translate(70px, 0px);
	transition-delay: 0s;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
}
/* the single list item */
.info li {
	position: relative;
}
.result {
	left: -20px; top: 15px;
}
/*the numbers*/
.info li span {
	position: absolute;
}
.result span {
	left: 0px;
	top: 25px;
	font-size: 50px;
}

/*-------------part2--------------*/
/*the control options in the left*/
#control-ring-container {
	position: absolute;
}
#control-ring {
	position: relative;
	height: 40px;
	width: 40px;
}
/* single list item */
.button {
	position: relative;
	height: 40px;
	border-radius: 50%;
	background-color: #777777; /*the gray color*/
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
    transition: all 1s 0.3s;
    -moz-transition: all 1s 0.3s;
	-webkit-transition: all 1s 0.3s;
	-o-transition: all 1s 0.3s;

	text-align: center;
	font-size: 30px;
	cursor: pointer;
}
#button:hover .button {
	opacity: 1;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}
.mask {
	bottom: 0px;
}
.history {
	bottom: 40px;
}
.message {
	bottom: 80px;
}
.setting {
	bottom: 120px;
}
.sign {
	bottom: 160px;
}
#button:hover .mask {
	transform: translate(-75px, -45px);
}
#button:hover .history {
	transform: translate(-90px, 0px);
}
#button:hover .message {
	transform: translate(-70px, 45px);
}
#button:hover .setting {
	transform: translate(-25px, 75px);
}
#button:hover .sign {
	transform: translate(25px, 65px);
}
.random-number { /*set style of the unread icon*/
	position: absolute;
	height: 16px;
	width: 22px;
	left: 25px;
	top: -5px;
	padding: 3px 0px;
	text-align: center;
	color: white;
	background-color: red;
	border-radius: 50%;
    transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;

	font-size: 20px;
}

/*--------------part3---------------*/
/*the atplus icon in the center*/
.apb {
	position: absolute;
	height: 40px;
	width: 40px;
}
.icon {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #777777; /*the gray color*/
	background-image: url(assets/images/atplus_white.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	border-radius: 50%;
	transition: all 1s 1s;
	-moz-transition: all 1s 1s;
	-webkit-transition: all 1s 1s;
	-o-transition: all 1s 1s;
}
#button:hover .icon {
	background-color: rgba(48, 63, 159, 1); /*the blue color*/
	background-image: url(assets/images/atplus_green.png);
	transform: scale(1.5, 1.5);
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
}

/*set the basic style of ul*/
ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}


.active {
	background-color: rgba(48, 63, 159, 1);
}

.inactive {
	background-color: #777777;
}

.hide {
	opacity: 0;
}

.show {
	opacity: 1;
}

.options {
	position: absolute;
	height: 40px;
	width: 40px;
	left: 0px;
}

.random-sequence {
	left: -30px;
	top: 25px;
}
